<div class="container margtop60">
        <h2 class="title1 center margtop">Nos catalogues</h2>
    <div class="row">
        <div class="col s6 m4 margtop60">
        <img src="/assets/images/affiche1.jpg">
        <p>Catalogues 2017</p>
        </div>

        <div class="col s6 m4 margtop60">
        <img src="/assets/images/affiche2.jpg">
        <p>Catalogues 2011,</p>
        </div>

        <div class="col s6 m4 margtop60">
        <img src="/assets/images/affiche3.png">
        <p>Que de vieilles voitures</p>
        </div>
    </div>
</div>
