<nav>
    <div class="nav-wrapper teal">
      <div class="container">
          <a href="#" class="brand-logo left">VoituresVintage</a>
      <!-- <a href="#" class="brand-logo">Logo</a> -->
      <ul id="nav-mobile" class="right hide-on-med-and-down">
          
          <!-- <li class="waves-effect waves-light btn btnadmin"><a routerLink="/admin" routerLinkActive="active">Admin</a></li> -->
          <!-- <li><a class="waves-effect waves-light btn">Admin</a></li> -->
          <li class="active"><a routerLink="/accueil" routerLinkActive="active">Accueil</a></li>
          <li class="active"><a routerLink="/presentation" routerLinkActive="active">Présentation</a></li>
          <li class="active"><a routerLink="/contact" routerLinkActive="active">Contact</a></li>             
      </ul>
    </div>
  </div>
</nav>


<div class="parallax"><img src="/assets/images/img-head-car.jpg" width="2000px" alt="Unsplashed background img 1"></div>



<router-outlet></router-outlet>
<a routerLink="/admin" class="waves-effect waves-light btn-small btnadmin center"><i class="medium material-icons left">send</i>Admin</a>

<p class="margbot"></p>

  <footer class="page-footer teal center">
      <div class="container">
        <div class="row">
          <div class="center pad margbot60"> © 2019 Copyright Voitures Vintage | Design Béatrice Frant</div>
  </div>
  </div>
</footer>