
<div class="container">
 
      <h2 class="title1 center margtop">Des voitures d'un autre temps</h2>
      <p class="para1 margtop60">Nous sommes spécialisés dans la vente de voitures anciennes et de collection des années 60 à 90 en 1ère main ou avec un historique limpide et documenté.</p>

      <p class="para1 margtop">Vous souhaitez nous proposer votre voiture à la vente, nous la confier en dépôt-vente, nous la confier pour une prestation (sellerie, carrosserie, mécanique, climatisation, « detailing », expertise), nous proposer une reprise ou si vous avez une question à nous soumettre, merci d’utiliser le questionnaire
      dans notre page contact.
      </p>
      <br>
      <!-- <a routerLink="/admin" class="waves-effect waves-light btn-small btnadmin center"><i class="medium material-icons left">send</i>Admin</a> -->

     <p class="margbot"></p>
</div>



