.title1{
    font-family: 'Playfair Display', serif;
}
.margtop{
    margin-top: 70px;
}
.margbot{
    margin-bottom:40px;
}
.margtop60{
    margin-top: 60px;
}
.para1{
    font-size: 24px;
    margin-top: 50px;
}